body {
    margin: 0;

    color: white;
    background-color: #FFF;
    background-image: url(../Images/1686157876278.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right center;
    background-size: 700px;
    overflow: hidden;
}


.container {
    background-color: #76b7ec;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);

    padding: 50px;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 30px;

    border-radius: 20px;
}

.container .button-displayer {
    color: #333;

    display: flex;
    place-content: center;
    place-items: center;
    gap: 10px;
}

.container .button-displayer button {
    padding: 10px;
    font-weight: bold;
}

.container.hidden {
    display: none;
}

#room-displayer {
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    place-content: center start;
    place-items: center start;
    gap: 20px;
}

#room-displayer .room-card {
    background-color: #63a3f7;
    padding: 20px;

    border-radius: 20px;
}

#go-to-main-page {
    padding: 15px;
    width: auto;
    background-color: #333;
    color: #ff4500;
}

#go-to-main-page:hover {
    background-color: #555;
    color: #ff6229;
}

.specialties-buttons {
    padding: 0;
    font-family: inherit;

    width: 200px;
    background-color: #11c3e2;

    padding: 20px 5px;
    font-weight: bold;

    display: flex;
    place-content: center;
    place-items: center;

    border-radius: 10px;
}

.reserve-room-button {
    padding: 10px;

    background-color: rgb(27, 55, 116);

    margin-top: 10px;
}